<div class="container mt-5">
  <div style="text-align: center" *ngIf="!registerMode">
    <div [style.background]="'red'"></div>
    <h1 class="text-warning">All Gamers in One Place</h1>
   

    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">SignUp</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>