<!-- <p>
  question-list works!
</p>

<input type="text" [(ngModel)]="question.question">
<button type="button" (click)="postQuestion()">click</button> -->
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="card-box question-list-card" *ngFor="let Qitem of questionList">
        <div class="media" [routerLink]="['/question/',Qitem.id]">
          <img src="../../../assets/user.png" class="mr-3"  width="50" height="50">
          <div class="media-body">
            <h6 class="mt-0">{{Qitem.heading}}</h6>
            <div class="ml-2">
                  <div class="row">
                    <div class="listDescriptionFont">
                        {{(Qitem.description).substring(0,200)+"..."}}              
                    </div>
                  </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row mt-4">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
          <app-post-question (questionForList)="addToList($event)"></app-post-question>
      </div>
    </div>
  </div>
</div>